snippet {
	{
		${0}
	}

# bm0 appengine demo.
snippet bm0
	https://bm0-dot-el-dood.appspot.com

# bm1 appengine demo.
snippet bm1
	https://bm1-dot-el-dood.appspot.com

# bm2 appengine demo.
snippet bm2
	https://bm2-dot-el-dood.appspot.com

# bm3 appengine demo.
snippet bm3
	https://bm3-dot-el-dood.appspot.com

# bm4 appengine demo.
snippet bm4
	https://bm4-dot-el-dood.appspot.com
